.biography {
   text-align: center;
   background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
} 

.biography_wrapper {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.table {
   width: 1200px;
}
.table_title {
   display: flex;
   color: white;
   background: #6a6a6a;
   border-bottom: 7px solid rgb(255, 255, 255);
   font-size: 20px;
}

.title_number {
   flex: 0 0 10%;
   padding: 20px 0;
   border-right: 7px solid rgb(255, 255, 255);
}

.title_year {
   flex: 0 0 20%;
   padding: 20px 0;
   border-right: 2px solid rgb(255, 255, 255);
}
.title_event {
   text-align: left;
   flex: 1 1 auto;
   padding: 20px;
}

.form {
   display: flex;
   background: #6a6a6a;
   border-top: 7px solid rgb(255, 255, 255);
}
.form_input {
   flex: 0 1 20%;
   padding-top: 10px;
}

.form_button {
   flex: 0 0 20%;
   padding-top: 10px;
   border-right: 7px solid rgb(255, 255, 255);
}

.form_button button {
   margin-left: 20px;
   margin-bottom: 10px;
   display: block;
   width: 150px;
   cursor: pointer;
}

.del_btn {
   background: #aeaeae;
   border: 2px solid rgb(0, 0, 0);
   padding: 5px 0;
   color: rgb(0, 0, 0);
}

.form_action {
   flex: 1 1 auto;
   background: #6a6a6a;
}
.action_title {
   color: white;
   font-size: 20px;
   font-weight: 700;
   border-bottom: 7px solid rgb(255, 255, 255);
}
.action_items {
   display: flex;
   justify-content: space-around;
   padding-top: 14px;
}

.items {
   flex: 0 1 10%;
   background: #aeaeae;
   cursor: pointer;
   border-radius: 17%;
   border: 2px solid rgb(255, 255, 255);
}


.btn_home {
   margin-top: 30px;
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 26px;
}

.btn_text {
   background: #fff;
   color: rgb(29, 2, 137);
   border-radius: 10px;
   padding: 5px 10px;
   font-weight: 700;
   width: 70px;
   text-align: center;
   border: 1px solid rgb(0, 0, 0);
}