.modal {
   min-height: 100vh;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.modal_container {
   color: #fff;
   max-width: 1000px;
}

.modal_wrapper {
   display: flex;
   flex-wrap: wrap;
}

.modal_img {
   flex: 0 1 60%;
}

.modal_img img{
   width: 100%;
}


.modal_btn {
   position: absolute;
   top: 50px;
   left: 60px;
}

.modal_btn-text {
   color: #fff;
   font-size: 32px;
   border: 3px solid #fff;
   border-radius: 6px;
   padding: 7px 10px 3px 10px;
}



.modal_item li {
   padding: 0;
   padding-top: 20px;
   margin: 0;
   margin-right: 20px;
   margin-left: 20px;
}

@media (max-width: 1000px) {
   .modal_img {
      display: none;
   }
   ul.modal_item {
      flex: 0 0 100%;
   }
   .dnd_container {
      flex: 0 0 100%;
      min-width: 100%;
   }
   .modal_btn {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      margin-top: 20px;
   }
}

.dnd_container {
   flex: 0 1 40%;
   padding-top: 20px;
   text-align: center;
   background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
   background-blend-mode: screen;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dnd_wrapper {
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   padding-bottom: 20px;
   padding-top: 20px;
   margin-top: 10px;
   width: 100%;
   
}

li.dnd {
   color: black;
   font-weight: bold;
   border: 1px solid #fff;
   padding: 10px 10px;
   margin: 10px 20px;
   cursor: grab;
}



