.content {
   background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

.content_body {
   display: flex;
   justify-content: space-between;
   max-width: 1600px;
   margin: 0 auto;
}

.body_columns {
   flex: 0 1 25%;
   margin: 0px 20px 0 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.body_columns:first-child {
   margin-left: 40px;
}
.body_columns:last-child {
   margin-right: 40px;
}

@media (max-width: 1270px) {
   .content_body {
      flex-wrap: wrap;
      margin: 20px;
      padding: 0;
   }
   .body_columns { 
      flex: 0 1 48%;
      margin: 0;
      padding: 0;
   }
   .body_columns:first-child {
      margin-left: 0px;
   }
   .body_columns:last-child {
      margin-right: 0px;
   }
   .screen_8 {
      margin-top: 0;
   }
}

@media (max-width: 600px) {
   .content_body {
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
   }
   .body_columns {
      flex: 0 1 100%;
      margin-bottom: 20px;
   }
}

.btn_home {
   margin-top: 30px;
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 26px;
}

.btn_text {
   background: #fff;
   color: rgb(29, 2, 137);
   padding: 5px 10px;
   font-weight: 700;
   border-radius: 10px;
   width: 70px;
   text-align: center;
   border: 1px solid rgb(0, 0, 0);
}