.slider {
   width: 60%;
   padding: 10px;
   margin: 0 auto;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left,
.right {
   height: 30px;
   cursor: pointer;
   position: absolute;
   z-index: 2;
}

.c {
   display: none;
}

.left {
   top: 50%;
   left: 5%;
}
.right {
   top: 50%;
   right: 5%;
}

.item img {
   width: 90px;
   margin: 0 auto;
}

.slide {
   opacity: 0;
   transition-duration: 1s ease;
   margin-top: 30px;
   padding-top: 20px;
   background: rgba(32, 32, 32, 0.3);
   border-radius: 10px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
      -23px 0 20px -23px rgba(0, 0, 0, .8),
      23px 0 20px -23px rgba(0, 0, 0, .8),
      0 0 40px rgba(0, 0, 0, .1) inset;
}

.items {
   width: 300px;
   
}

.slide.active {
   opacity: 1;
   transition-duration: 1s;
   transform: scale(1.2);
}

.mod {
   opacity: 0;
   transition-duration: .8s ease;
   background: rgba(32, 32, 32, 0.3);
} 
.mod.act {
   opacity: 1;
   transition-duration: .8s;
}

.modal-body {
   position: absolute;
   z-index: 9999;
   top: -195%;
   left: -283%;
   width: 2000px;
   background: rgba(5, 5, 5, 0.9);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.modal-content {
   padding-top: 20px;
   width: 300px;
   background: rgb(131, 208, 247);
   color: rgb(0, 0, 0);
   border-radius: 12px;
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   position: relative;
}
 
.modal-title {
   font-size: 20px;
   font-weight: bold;
   text-decoration: underline;
   padding-bottom: 15px;
}
.modal-item {
   padding-bottom: 10px;
}

.modal-close{
   position: absolute;
   top: 0;
   right: 0;
   font-size: 12px;
   margin-right: 12px;
   margin-top: 8px;
   padding: 0 4px;
   border-radius: 5px;
   opacity: 0.7;
   border: 1px solid rgba(0, 0, 0, 0.251);
   cursor: pointer;
   transition: .5s;
}

.modal-close:hover{
   opacity: 1;
   transform: scale(1.2);
   border: 1px solid rgba(0, 0, 0, 0.751);
}

.userBtn {
   border: none;
   border-radius: 8px;
   padding: 8px;
   margin-top: 6px;
   margin-bottom: 10px;
   background: rgb(93, 94, 94);
   color: white;
   cursor: pointer;
   transition: .3s
}

.userBtn:hover{
   transform: scale(1.1);
   background: rgb(4, 65, 248);
}

@media (max-width: 1000px) {
   .left {
      left: -14%;
   }
   .right {
      right: -14%;
   }
}