.item {
   margin-bottom: 10px;
   margin-right: 25px;
}
.item:first-child {
  margin-left: 25px;
}
.item a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   border: 1px solid rgb(7, 7, 7);
   border-radius: 7px;
   padding: 8px 10px;
 }
 
 .item a.activeLink {
   font-weight: 900;
   background: rgba(0, 0, 0, 0.265);
   color: white;
   border: none;
 }

.nav {
  display: flex;
  margin-bottom: 30px;
}