.switchDayNight_container {
   display: flex;
   background: rgba(57, 57, 57, 0.524);
   align-items: center;
   width: 110px;
   justify-content: center;
   padding-left: 20px;
   padding-right: 18px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 20px;
   transition: all .5s ease;
}

.switchDayNight_container.day {
   background: rgba(74, 68, 236, 0.469);
   transition: all .5s ease;
}

.switchDayNight_img {
   font-size: 21px;
   margin-left: 11px;
   display: flex;
}

.moon {
   color: rgb(255, 255, 255);
}

.sun {
   color: rgb(255, 217, 0);
}

