.footer {
   background: rgb(68, 67, 67);
   color: white;
   text-align: center;
   padding: 30px;

}

.footer_title {
   font-size: 30px;
   padding-bottom: 15px;
}

.footer_design {
   font-style: italic;
}

.footer_design a {
   text-decoration: none;
   color: white;
}

