.content {
   background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    position: relative;
}

.content.day {
   background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.content_switchDayNight {
   padding-top: 20px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.arrow_down {
   font-size: 25px;
   width: 40px;
   height: 40px;
   background: rgb(0, 32, 71);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   position: fixed;
   right: 20px;
   top: 20px;
   transition: all .4s ease;
   cursor: pointer;
}

.arrow_down.actD {
   opacity: 0;
   transition: all .4s ease;
}

.arrow_up {
   font-size: 25px;
   width: 40px;
   height: 40px;
   background: rgb(0, 32, 71);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   position: fixed;
   right: 20px;
   bottom: 30px;
   transition: all .4s ease;
   z-index: 22;
   cursor: pointer;
}

.arrow_up.actU {
   opacity: 0;
   transition: all .4s ease;
}

.content_body {
   display: flex;
   justify-content: space-between;
   max-width: 1600px;
   margin: 0 auto;
}

.body_columns {
   flex: 0 1 25%;
   margin: 0px 20px 0 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.body_columns:first-child {
   margin-left: 40px;
}
.body_columns:last-child {
   margin-right: 40px;
}

@media (max-width: 1270px) {
   .content_body {
      flex-wrap: wrap;
      margin: 0 20px;
      padding: 0;
   }
   .body_columns { 
      flex: 0 1 48%;
      margin: 0;
      padding: 0;
   }
   .body_columns:first-child {
      margin-left: 0px;
   }
   .body_columns:last-child {
      margin-right: 0px;
   }
   .screen_8 {
      margin-top: 0;
   }
}

@media (max-width: 600px) {
   .content_body {
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
   }
   .body_columns {
      flex: 0 1 100%;
      margin-bottom: 20px;
   }
   /* .arrow_down {
      display: none;
   }
   .arrow_up {
      display: none;
   } */
}

