.content {
   background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

.content.day {
   background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.content_switchDayNight {
   /* margin-top: 20px; */
   padding-top: 20px;
   margin-bottom: 20px;
   margin-right: 50px;
   display: flex;
   justify-content: flex-end;
}

.content_body {
   display: flex;
   justify-content: space-between;
   max-width: 1600px;
   margin: 0 auto;
}

.body_columns {
   flex: 0 1 25%;
   margin: 0px 20px 0 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.body_columns:first-child {
   margin-left: 40px;
}
.body_columns:last-child {
   margin-right: 40px;
}

@media (max-width: 1270px) {
   .content_body {
      flex-wrap: wrap;
      margin: 0 20px;
      padding: 0;
   }
   .body_columns { 
      flex: 0 1 48%;
      margin: 0;
      padding: 0;
   }
   .body_columns:first-child {
      margin-left: 0px;
   }
   .body_columns:last-child {
      margin-right: 0px;
   }
   .screen_8 {
      margin-top: 0;
   }
}

@media (max-width: 600px) {
   .content_body {
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
   }
   .body_columns {
      flex: 0 1 100%;
      margin-bottom: 20px;
   }
}

