.suggested_body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #F6F6F8;
   border-radius: 5px;
   padding: 12px;
   margin-top: 10px;
   margin-bottom: 10px;
}
 .suggested_left_b {
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #693EFF;
 }

 .suggested_medium {
    flex: 0 1 30%;
 }

.suggested_medium img {
   max-width: 100%;
}

.right_circle {
   width: 38px;
   height: 38px;
   background-image: url(../../../assets/img/circle.png);
   background-repeat: no-repeat;

}